/assignment ques practice.html
/CBSE - Senior School Certificate Examination (Class XII) Results 2023 (1)_page-0001.jpg
/experiment.html
/index from apna college.html
/index.html
/inheritance_demo apna college.html
/launch.json
/PracticeQs apna college.html
/practicequestion.html
/stlyefacebook.css
/style2.css
/timepass.html
/Transport
/transport main proj.zip
/youtubetest.html